[submodule "backend"]
	path = backend
	url = https://github.com/AntonTrofimovich/at-recipes-back.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/AntonTrofimovich/at-recipes-front.git
